/*GENERAL*/

* {
    margin: 0;
    padding: 0;
    background-size: 100%;
    /*border: 1px solid black;*/
}

body {
    min-height: 100vh;
    justify-content: space-between;
    font-family: 'Inconsolata', monospace;
}

body,
main,
article,
a {
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    min-height: 100vh;
    flex-grow: 2;
    justify-content: space-around;
    overflow: hidden;
}


/*
article {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: row;
    height: 100%;
}

*/

body {
    background-image: url(../images/biblio1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: white;
    text-shadow: 2px 2px 2Px black;
    text-align: center;
    padding-top: 50px;
}

a {
    color: white;
}


/*FORM*/

.mainregister {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 800px/*-- à modifier en fonction de la largeur désirée --*/
    ;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    text-align: center;
    color: white;
    align-items: center;
    align-content: center;
}

form input,
textarea,
p {
    color: white;
}

.form,
.formlogin {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    padding: 20px;
}

.form input,
textarea,
.formlogin input,
.formupdate input,
.formcontact input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px;
}

.formregister,
.formupdate {
    margin-right: 15px;
    align-items: center;
}

.formupdate {
    align-items: center;
}

.formupdate fieldset {
    height: 100%;
}